<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - Kari Cal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flex-center-page">
<div class="login-container">
    <h2>로그인</h2>
    <form th:action="@{/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="input-group">
            <input type="text" name="userId" placeholder="아이디" required>
        </div>
        <div class="input-group">
            <input type="password" name="password" placeholder="비밀번호" required>
        </div>
        <button type="submit" class="btn-submit">시작하기</button>

        <p th:if="${error}" class="error-msg" th:text="${error}"></p>
    </form>
    <a href="/" class="back-link">이전으로</a>
</div>
</body>
</html>